@font-face {
  font-family: "syuei";
  src: url(../assets/fonts/syuei.woff2) format(woff2);
}

html{
  visibility: hidden;
  overflow-y: hidden;
  &.font-loaded{
    visibility: visible;
    overflow-y: scroll;
  }
  section#firstview canvas{
    visibility: visible;
  }
}

p{
  font-size: 20px;
  line-height: 32px;
}

a{
  color: #bde729;
}

body{
  background-color: #fdfffe;
  *{
    font-family: "syuei", sans-serif;
  }
}

section#firstview{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 54px);
  position: relative;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    canvas{
      display: none !important;
    }
    &.active{
      canvas{
        display: block !important;
      }
    }
  }
  p{
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    padding: 4px 24px 0 24px;
  }
  @supports (height: 100svh){
    height: calc(100svh - 54px);
  }
}
header#global_header{
  height: 30px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 12px 24px 24px 24px;
  box-sizing: content-box;
  h1{
    height: 100%;
    display: flex;
    svg{
      height: 100%;
    }
    div#icon{
      position: relative;
      left: -10px;
      canvas{
        display: none !important;
      }
      &.active{
        canvas{
          display: block !important;
        }
      }
    }
  }
  div{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  label{
    display: block;
    &:hover{
      color: #bde729;
    }
  }
}

input[type=checkbox]{
  display: none;
  &:checked{
    &+section.menu{
      display: block;
    }
  }
}

section.menu{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #bde729;
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 0 24px;
  @supports (height: 100lvh){
    height: 100lvh;
  }
  header{
    label{
      &:hover{
        color: #fdfffe;
      }
    }
  }
  ul{
    
  }
}

main{
  height: 300vh;
  padding: 0 24px;
  margin: 160px auto 0 0;
  section{
    &.info{
      p, h2{
        font-size: 20px;
        line-height: 40px;
      }
      h1{
        font-size: 36px;
        line-height: 72px;
        font-weight: bold;
      }
      section.statement{
        max-width: 600px;
        p{
          font-size: 24px;
          line-height: 40px;
        }
      }
      ul{
        margin: 40px 0 0 0;
        li{
          // display: flex;
          margin: 32px 0 0 0;
          h3{
            font-weight: bold;
            line-height: 40px;
          }
          p{
          }
        }
      }
    }
  }
}
